<h2>Lawyers Listings</h2>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
  	<% @lawyers.each do |lawyer| %>
	    <tr>
	      <td><%= lawyer.name %></td>
	      <td><%= lawyer.email %></td>
	      <td><%= lawyer.phone %></td>
	    </tr>
	  <% end %>
  </tbody>
</table>